body {
        background-color: #fff;
        color: #007eb1;
}

a {
  color: #007eb1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

tr:nth-child(odd) {
        background-color: #f0f8fa;
}

th {
        background-color: #fff;
}

input {
  color: #007eb1;
  background: #f0f8fa;
  border-bottom: 2px #ddedf1 solid;
}

#submit, #apiKeyHelper, #stopNameHelper {
  background: #009ddb;
  color: #fff;
}

input:disabled {
  background: #eee;
  color: #ddd;
  cursor: default !important;
}

.helper--ok {
  background: #28a745 !important;
}

.helper--error {
  background: #dc3545 !important;
}
